# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all .feather files
*.feather
# Ignore all pixel array files
*.npy
*.nii.gz

.vscode

# Ignore all .pth files
*.pth


# Node projects
# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
logs
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env*